@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans);
#omv, #omv * {
	font-family: 'Alegreya Sans','Trebuchet MS', sans-serif;
	font-size: 16px;
}

#omv {
	margin: 0px auto;
}

#omv img {
	border-width: 0;
}

#omv table {
	text-align: center;
	margin: auto;
	padding: 0;
	background: #;
	box-shadow: 0 0 60px rgba(0,0,0,0.4);
}

#omv table .line {
	
}

#omv .pager {
	font-weight: bold;
	color: #666666;
	background-color: #eeeeee;
	border: 1px dotted #666666;
	margin: 10px;
	padding: 5px;
}

#omv .pager span {
	margin: 0 5px;
}

#omv .pager select {
	font-weight: bold;
	color: #666666;
	background-color: #fafafa;
	border: 1px solid #aaaaaa;
}

#omv .picture {
	border: 1px dotted #666666;
	margin: 0 auto;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
#footer .text-info{
	text-align: center;
	margin-top: 15px;
}
.form-control{
	display: inline;
	width: 300px;
}
.page-form{
	width: 100px;
}
.chapter-form{
	width: 80px;
}
.well{
	margin-bottom: 0px;
}
.navbar{
	 margin-bottom: 0px; 
}
p.select-manga-msg{
	padding-top: 35px;
}